*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    background: url(./bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section nav{
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background-color: #fff;
    position: fixed;
    left: 0%;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav li {
    display: inline-block;
    padding: 0 10px;
}

section nav li a {
    color: #000;
    text-decoration: none;
    list-style: non;
}

section nav li a:hover{
    color: #089da1;
}
.icons i{
   margin: 0 5px;
   font-size: 18px;
   cursor: pointer;
}

.icons i:hover{
    color: #089da1;
    transform: scale(1.1);
}


section .start{
      display: flex;
      align-items: center;
      justify-content: space-between ;
      position : relative;
      top: 40px;
      margin-left: 40px;
    
}

section .start h1{
    position: relative;
    font-size: 50px;
    top: 70px;
    left: 40px;
}
section .start h1 span{
    color: #089da1;
}

section .start p{
    width: 500px ;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 110px;
    left: 40px;
}

section .start .start-btn{
    background: #089da1;
    padding: 10px 20px;
    position: relative;
    top: 160px;
    left: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

section .start img{
    width: 750px;
    position: relative;
    top: 100px;
    left: 20px;
    margin-right: 60px ;
}


.service{
    width : 100%;
    height: auto;
    margin: 35px 0;
    display: flex;
}

.service .service-area{
    width: 90% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.service .service-area .service-card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #089da1;
    padding: 15px 10px;     
}

.service .service-area .service-card i{
    color: #089da1;
    font-size: 50px;
    margin-bottom: 15px;
    cursor: pointer;
}

.service .service-area .service-card h3{
    margin-bottom: 10px;
}


.about{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 50px;
}
.about .about-img img{
    width: 600px;
   
}

.about .about-txt h1{
    font-size: 50px;
    bottom: 35px;
    
}

.about .about-txt p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;
}

.about .about-txt .about-btn{
    padding: 10px 15px;
    text-decoration: none;
    top: 50px;
    background: #089da1;
    color: #fff;
}




.featured{
    width: 100%;
    padding: 70px 0;
    
}

.featured h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 35px;
   
}

.featured .Featured-area{
    margin-left: 60px;
    width: 95%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
  
}

.featured .Featured-area .Featured-book{
    width: 230px;
    height: 370px;
    text-align: center;
    border: 1px solid #323030;
    margin:  20px;
}

.featured .Featured-area .Featured-book:hover{
    box-shadow: 0 0 5px #06bdc3;
    transform: scale(1.05);
}
 
.featured .Featured-area .Featured-book img{
    width: 150px;
    height: 220px;
    margin-top: 8px;
}

.featured .Featured-area .Featured-book .featured-txt{
    margin-top: 15px;
}


.featured .Featured-area .Featured-book .author{
    color: #8f8f8f;
}

.featured .Featured-area .Featured-book .theame{
    color: #089da1;
}

.featured .Featured-area .Featured-book .price{
    font-weight: bold;
    margin-bottom: 8px;
}

.featured .Featured-area .Featured-book .featured-btn{
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
    padding: 5px 9px;
}

/* those for the scroll bar ----*/
::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}
/*----*/


.arrivals{
    width: 100%;
    height: 100vh;    
}

.arrivals h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
}


.arrivals .arrivals-area{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 0;
    margin: 0 auto;
}

.arrivals .arrivals-area .arrivals-book{
    width: 230px;
    height: 370px;
    text-align: center;
    margin:  20px;
    border: 1px solid #3e3e3e;
    
}
.arrivals .arrivals-area .arrivals-book:hover{
    box-shadow: 0 0 5px #089da1;
    transform: scale(1.05);
    
}

.arrivals .arrivals-area .arrivals-book img{
    width: 150px;
    height: 220px;
    margin-top: 13px;
}

.arrivals .arrivals-area .arrivals-book .arrivals-txt p{
    font-size: 20px;
    margin: 8px ;
}

.arrivals .arrivals-area .arrivals-book .arrivals-txt .arrivals-icon{
    color: #089da1;
    margin-bottom: 10px;
}

.arrivals .arrivals-area .arrivals-book .arrivals-txt .arrivals-btn{
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
    padding: 5px 9px;
}

